<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>599701043750-v5kbqcp7theq0pci82u5d9jlsvgsfvo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599701043750-v5kbqcp7theq0pci82u5d9jlsvgsfvo3</string>
	<key>API_KEY</key>
	<string>AIzaSyBmmERu0hBT2GBeSafk53VemAT1HDGjgVg</string>
	<key>GCM_SENDER_ID</key>
	<string>599701043750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kg.tepkich.Tepkich</string>
	<key>PROJECT_ID</key>
	<string>tepkich-540c9</string>
	<key>STORAGE_BUCKET</key>
	<string>tepkich-540c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599701043750:ios:51a11d26db991061</string>
	<key>DATABASE_URL</key>
	<string>https://tepkich-540c9.firebaseio.com</string>
</dict>
</plist>